@text-color: #222;
@link-color: #ff7304;
@link-hover-color: darken(@link-color, 5%);
@link-active-color: darken(@link-color, 10%);
@accent-color: #0047b9;
@font-family-sans-serif: Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;
@font-size-base: 14px;
@line-height-base: 1.285714286; // 18 / 14