h1,
.h1 {
    font-size: 60px;
    line-height: 1.1;
}

h2,
.h2 {
    font-size: 48px;
    line-height: 1.2;
}

h3,
.h3 {
    font-size: 36px;
    line-height: 1.25;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 18px;
}

a,
.link {
    color: @link-color;
}

a:hover,
.link:hover {
    color: @link-hover-color;
}

a:active,
.link:active {
    color: @link-active-color;
}

.link_color-accent {
    color: @accent-color;
}

.list_raw {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.p_raw {
    margin-top: 0;
    margin-bottom: 0;
}

.color-accent {
    color: @accent-color;
}

.color-link {
    color: @link-color;
}

.symbol-ruble {
    text-decoration: line-through;
}

.section-title {
    margin-top: 0;
    margin-bottom: 25px;
}

.read-more {
    display: inline-block;
    position: relative;
}

.read-more:after {
    content: "»";
    position: absolute;
    left: 100%;
    margin-left: 5px;
    color: @accent-color;
}

.text-left,
.text_align-left {
    text-align: left;
}

.text-center,
.text_align-center {
    text-align: center;
}

.text-right,
.text_align-right {
    text-align: right;
}
