<!doctype html>
<html class="no-js" lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Grunt boilerplate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/app.css">
        <script src="static/js/vendor/modernizr.js"></script>
    </head>
    <body>
        <!-- header -->
        <div class="header">
            <div class="container">
                <div class="row clearfix">
                    <div class="grid-4">
                        <!-- logo -->
                        <div class="logo">
                            <a href="#"><img src="static/img/logo.png" width="271" height="46" alt=""></a>
                        </div>
                        <!-- /.logo -->
                    </div>

                    <div class="grid-6">
                        <!-- nav -->
                        <div class="nav">
                            <ul class="nav-list list_raw clearfix">
                                <li class="nav-item"><a class="nav-link" href="#">Описание</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Комплектации</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                            </ul>
                        </div>
                        <!-- /.nav -->
                    </div>

                    <div class="grid-2">
                        <!-- contacts -->
                        <div class="contacts">
                            <p class="contacts-inner"><a class="contacts-link link_color-accent" href="tel:+73472999224">29 99 224</a></p>
                        </div>
                        <!-- /.contacts -->
                    </div>
                </div>
            </div>
        </div><!-- /.header -->

        <!-- section-campaign -->
        <div class="section-campaign">
            <div class="container">
                <div class="row clearfix">
                    <div class="grid-8">
                        <img src="static/img/campaign.jpg" width="620" height="430" alt="">
                    </div>

                    <div class="grid-4">
                        <div class="campaign-hero">
                            <ul class="campaign-hero-tabs list_raw clearfix">
                                <li class="campaign-hero-tabs-item">
                                    <a class="campaign-hero-tabs-link campaign-hero-tabs-link_car-matiz" href="#">Matiz</a></li>
                                <li class="campaign-hero-tabs-item">
                                    <a class="campaign-hero-tabs-link campaign-hero-tabs-link_car-nexia campaign-hero-tabs-link_state-active" href="#">Nexia</a></li>
                            </ul>
                            <h2 class="h2 campaign-hero-title">Акция!</h2>
                            <p class="campaign-hero-text">Проверенная временем<br> конструкция Nexia постоянно<br> совершенствуется.</p>

                            <div class="campaign-hero-outer">
                                <p class="p_raw">Размер скидки:<br>
                                    <span class="campaign-hero-sale">30 000
                                        <span class="symbol-ruble">Р</span></span><br>
                                        Срок акции до 30 июня 2014</p>
                            </div>

                            <p class="p_raw"><a class="btn btn_width-full" href="#popup" data-fancybox>Оставить заявку</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.section-campaign -->

        <!-- section-description -->
        <div class="section-description section_padding-30">
            <div class="container">
                <div class="row clearfix">
                    <div class="grid-4">
                        <h2 class="section-title h2 color-accent">Описание</h2>
                        <p>Эргономичный салон позволит чувствовать себя удобно. Практичность Nexia – это когда все на своем месте. Все отработанные с особой тщательностью преимущества демонстрируют комфорт и уют Nexia New: удобные стеклоподъемники, автоматически открывающиеся багажное отделение и лючок бензобака.  Практичность Nexia – это когда все на своем месте. Все отработанные с особой тщательностью преимущества демонстрируют комфорт и уют Nexiа.</p>
                    </div>

                    <div class="grid-8">
                        <p><img src="static/img/description.jpg" width="620" height="300" alt=""></p>
                    </div>
                </div>
            </div>
        </div><!-- /.section-description -->

        <!-- section-technology -->
        <div class="section-technology section_padding-30">
            <div class="container">
                <h2 class="section-title h1 color-accent">Технологии</h2>

                <div class="row clearfix">
                    <div class="grid-4">
                        <p class="margin-top_0"><img class="image-bordered" src="static/img/tech-1.jpg" width="294" height="194" alt=""></p>
                        <h3 class="h4 margin-bottom_10">Интерьер</h3>
                        <p>Интерьер новой Nexia отличается качественными материалами и вниманием ко всем мелочам, которое позволило заметно увеличить полезное пространство салона и сделать его максимально удобным. Эргономичный салон позволит чувствовать себя удобно. Практичность Nexia – это когда все на своем месте. Все отработанные с особой тщательностью преимущества демонстрируют комфорт и уют Nexiа.</p>
                        <p><a class="read-more" href="#">Подробнее об интерьере</a></p>
                    </div>

                    <div class="grid-4">
                        <p class="margin-top_0"><img class="image-bordered" src="static/img/tech-2.jpg" width="294" height="194" alt=""></p>
                        <h3 class="h4 margin-bottom_10">Экстерьер</h3>
                        <p>Новая Nexia приобрела измененный передний бампер с интегрированными противотуманными фарами, измененная форма нижнего воздухозаборника позволяет улучшить охлаждаемость двигателя с более мощными силовыми характеристиками. Модернизированная форма накладок ромбовидного типа подчеркивает динамику автомобиля. Форма бампера автомобиля улучшает его аэродинамические качества.</p>
                        <p><a class="read-more" href="#">Подробнее об экстерьере</a></p>
                    </div>

                    <div class="grid-4">
                        <div class="section-technology-special">
                            <p class="margin-top_0"><img class="image-bordered" src="static/img/tech-3.jpg" width="254" height="174" alt=""></p>
                            <h3 class="h5 margin-bottom_30">Качественный двигатель</h3>

                            <p><img class="image-bordered" src="static/img/tech-4.jpg" width="254" height="174" alt=""></p>
                            <h3 class="h5">Гармония линий</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.section-technology -->

        <!-- section-grade -->
        <div class="section-grade section_padding-30">
            <div class="container">
                <div class="row clearfix">
                    <div class="grid-6">
                        <h2 class="h1 section-title color-accent">Комплектации</h2>
                        <p><img src="static/img/grade.jpg" width="460" height="240" alt=""></p>
                        <p>Указанные розничные цены рекомендованы производителем автомобилей Uz-Daewoo к применению официальными дилерами. Цены указаны в российских рублях. Подробности по наличию и комплектациям – в автосалонах официальных дилеров.</p>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Модель</th>
                                    <th>1,5 л.<br> (80 л. с.)</th>
                                    <th>1,5 л.<br> (80 л. с.)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Classic</td>
                                    <td>282 000</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Business</td>
                                    <td>302 000</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Базовая</td>
                                    <td></td>
                                    <td>322 000</td>
                                </tr>
                                <tr>
                                    <td>Базовая с ГУР</td>
                                    <td></td>
                                    <td>322 000</td>
                                </tr>
                                <tr>
                                    <td>Базовая с кондиционером</td>
                                    <td></td>
                                    <td>322 000</td>
                                </tr>
                                <tr>
                                    <td>Базовая с кондиционером, ГУР</td>
                                    <td></td>
                                    <td>322 000</td>
                                </tr>
                                <tr>
                                    <td>Люкс, полный электропакет, без кондиционера, ГУР</td>
                                    <td></td>
                                    <td>322 000</td>
                                </tr>
                                <tr>
                                    <td>Люкс, полный электропакет, с кондиционером, ГУР</td>
                                    <td></td>
                                    <td>322 000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="grid-6">
                        <h2 class="h3 color-link margin-top_15 margin-bottom_20" >Nexia SOHC</h2>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Опции</th>
                                    <th>1,5 л.<br> (80 л. с.)</th>
                                    <th>1,5 л.<br> (80 л. с.)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Бампера окрашены в цвет кузова</td>
                                    <td>+</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Автомагнитола «Clarion» CD/MP3</td>
                                    <td>+</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Акустические колонки 4 шт.</td>
                                    <td></td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Обогрев заднего стекла с таймером на отключение</td>
                                    <td></td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Инерционные ремни безопасности</td>
                                    <td></td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Дополнительный стоп-сигнал</td>
                                    <td>+</td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Бампера окрашены в цвет кузова</td>
                                    <td>+</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Автомагнитола «Clarion» CD/MP3</td>
                                    <td>+</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Акустические колонки 4 шт.</td>
                                    <td></td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Обогрев заднего стекла с таймером на отключение</td>
                                    <td></td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Инерционные ремни безопасности</td>
                                    <td></td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Дополнительный стоп-сигнал</td>
                                    <td>+</td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Бампера окрашены в цвет кузова</td>
                                    <td>+</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Автомагнитола «Clarion» CD/MP3</td>
                                    <td>+</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Акустические колонки 4 шт.</td>
                                    <td></td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Обогрев заднего стекла с таймером на отключение</td>
                                    <td></td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Инерционные ремни безопасности</td>
                                    <td></td>
                                    <td>+</td>
                                </tr>
                                <tr>
                                    <td>Дополнительный стоп-сигнал</td>
                                    <td>+</td>
                                    <td>+</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br>
                <p class="text-center"><a class="btn" href="#popup" data-fancybox>Оставить заявку</a></p>
            </div>
        </div><!-- /.section-grade -->

        <!-- section-gallery -->
        <div class="section-gallery section_padding-30">
            <div class="container">
                <h2 class="h1 section-title">Фотогалерея</h2>

                <div class="section-gallery-slider">
                    <ul class="section-gallery-slider-list list_raw clearfix">
                        <li class="section-gallery-slider-item">
                            <ul class="section-gallery-thumbs-list list_raw row clearfix">
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                            </ul>
                        </li>

                        <!-- <li class="section-gallery-slider-item">
                            <ul class="section-gallery-thumbs-list list_raw row clearfix">
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                                <li class="section-gallery-thumbs-item grid-4">
                                    <a href="#"><img class="image-bordered" src="holder.js/294x194" width="294" height="194" alt=""></a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>

                    <ul class="section-gallery-slider-nav list_raw clearfix">
                        <li class="section-gallery-slider-nav-item"><a class="section-gallery-slider-nav-link" href="#"></a></li>
                        <li class="section-gallery-slider-nav-item"><a class="section-gallery-slider-nav-link" href="#"></a></li>
                        <li class="section-gallery-slider-nav-item"><a class="section-gallery-slider-nav-link" href="#"></a></li>
                        <li class="section-gallery-slider-nav-item"><a class="section-gallery-slider-nav-link" href="#"></a></li>
                        <li class="section-gallery-slider-nav-item"><a class="section-gallery-slider-nav-link section-gallery-slider-nav-link_state-active" href="#"></a></li>
                        <li class="section-gallery-slider-nav-item"><a class="section-gallery-slider-nav-link" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.section-gallery -->

        <!-- section-map -->
        <div class="section-map">
            <div id="google-map"></div>
        </div><!-- /.section-map -->

        <!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="row clearfix">
                    <div class="grid-10">
                        <p>©2012 "УзДЭУАвто-Уфа"<br> <small class="footer-small"><a href="#">Юридическая информация</a></small></p>
                    </div>

                    <div class="grid-2 text-right">
                        <p>Телефон салона: <a class="contacts-link link_color-accent" href="tel:+73472999224">29 99 224</a></p>
                    </div>
                </div>
            </div>
        </div><!-- /.footer -->

        <div id="popup" class="fancybox-container" style="display: none;">
            <form class="request-form" action="/here/is/some/url" method="POST">
                <legend class="nice-legend">Заказать</legend>
                <div class="nice-form-row">
                    <input class="nice-input-text nice-input_width-full" name="name" type="text" placeholder="Имя"
                    required data-msg-required="Обязательное поле">
                </div>
                <div class="nice-form-row">
                    <input class="nice-input-text nice-input_width-full" name="tel" type="tel" placeholder="Телефон"
                    required data-msg-required="Обязательное поле"
                    data-inputmask="'mask': '8(999)999-99-99'"
                    data-rule-masked>
                </div>
                <div class="nice-form-row">
                    <input class="nice-input-text nice-input_width-full" name="email" type="email" placeholder="Email">
                </div>

                <p class="text_align-center">
                    <input class="btn" type="submit" value="Отправить">
                </p>
            </form>
        </div>

        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAVSZ2XNug0wPx73ouSIYm5LlnJ0YY6bYQ&sensor=false"></script>
        <script src="static/js/vendor/jquery.js"></script>
        <script src="static/js/vendor/holder.js"></script>
        <script src="static/js/vendor/jquery.fancybox.js"></script>
        <script src="static/js/vendor/jquery.inputmask.js"></script>
        <script src="static/js/vendor/jquery.placeholder.js"></script>
        <script src="static/js/vendor/jquery.validate.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>
